.as-wrapper{
  padding: 16px 0;
  border-top: 1px solid #e2e2e2;
}

.as-header{
  position: relative;
  min-height: 40px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 1.4;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.as-body{
  font-size: 15px;
  line-height: 1.4;
}

.as-footer{
  
}
