.answer-comment-wrapper{
  padding: 16px 0;
  border-top: 1px solid #e2e2e2;
}

.as-header{
  min-height: 40px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 1.4;
  display: flex;
  justify-content: start;
}

.as-body{
  font-size: 15px;
  line-height: 1.4;
  padding-bottom: 10px;
  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}

.as-footer{

}
.as-name-date{
  padding-left: 10px;
}

.author-name{
  color:rgba(128, 128, 128, 0.7);

}

.as-footer-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.as-content-holder{
  padding: 10px;
}

.as-content-holder li{

}


// .as-profile-pic{
//   height: 48px;
//   width: 48px;
//   background: #009688;
//   display: flex;
//   align-items: center;
//   border-radius: 24px;
//   justify-content: center;
// }

.as-initials-large{
  // font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 100%;
  color: rgb(255, 255, 255);
  background: #b92b27
}
