.comment-editor-form{
  display: flex;
  justify-content: space-between;
  background: #f6f6f6;
}

.comment-editor-body{
  width: 420px;
}

.comment-editor-footer{
  padding: 8px;
}

.comment-editor-body  p {
  background: white;
}

.comment-editor-header{
  height: 32px;
  width: 32px;
  background: green;
  display: flex;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
}
