.comment-editor-form{
  display: flex;
  background: #f6f6f6;
  align-items: center;
  justify-content: center;
}

.comment-editor-body{
  width: 360px;
}

.comment-editor-footer{
}

.comment-editor-body  p {
  background: white;
}

.comment-editor-header{
  font-family: Helvetica, Arial, sans-serif;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 100%;
  color: rgb(255, 255, 255);
  background: #b92b27;
  position: relative;
  display: inline-block;
}


.header-avatar-dropdown{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.comment-editor-header:hover .header-avatar-dropdown{
  display: block;
}
