.question-box {
  margin-top: 0;
  border: 1px solid #efefef;
  background-color: #fff;
  border-radius: 4px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 16px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 16px;
  // font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}

.question-topic{

}

.question-author{
  margin-bottom: 9px;
}

.question-item {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 7px;
}

.question-body {
  font-size: 15px;
  width: 100%;
}

.question-body > h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.question-body > h2 > a {
  text-decoration: none;
  color: black;
}

.question-body > p {
  margin: 0 0 20px 0;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.question-footer-info {
  display: flex;
  display: none;
  color: #999;
  font-size: 14px;
}

.question-footer-info > li:after {
  content: "·";
  padding: 0 5px;
}

.question-footer-info > li:last-child:after {
  content: none;
}

.post-footer-tools {
  display: flex;
}

.post-footer-tools > li {
  display: flex;
  margin: 0 0 0 10px;
}

.topic-box{
  margin-top: 0;
  border: 1px solid #efefef;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 16px;
  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}
#question{
  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}

.upvote-button{
  box-sizing: border-box;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  background: #3e78ad;
  color: #fff;
  border: 1px solid #3a66ad;
  box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.6);
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 5px;
}
