.header {
  background: #fff;
  color: #fff;
  color: RGB(180, 32, 38, 0.25);
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.header a {
  display: block;
  color: RGB(180,32,38);
  text-decoration: none;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 900px;
}

.header-logo {
  font-weight: bold;
  font-family: Times;
  font-size: 20px;
}


.header-list {
  display: flex;
}

.header-list > li:hover {
  background: rgb(246, 246, 246);
}

.header-search-container {

}

.header-question-button {
  margin-left: 8px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  display: inline-block;
  font-weight: 500;
  outline: 0;
  padding: 3px 7px 4px 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #962520;
  background: #b92b27;
  color: #fff;
  padding: 8px;
}

.header-hide{
  height: 51px
}
