.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 900px;
  border-top: 0;
}

.content-sidebar {
  width: 155px;
  min-height: 200px;
  padding: 20px;
  padding-right: 19px;
}

.content-main {
  width: 620px;
  min-height: 200px;
  padding: 20px;
}
