.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 900px;
  min-width: 375px;
  border-top: 0;
}

* {
    box-sizing: border-box;
}

.content-sidebar  {
    width: 25%;
    float: left;
    padding: 20px;

}
.content-main  {
    width: 75%;
    float: left;
    padding: 20px;
}

.content::after {
    content: "";
    clear: both;
    display: table;
}

[class*="content-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .content-sidebar {width: 25%;}
    .content-main {width: 75%;}
}
