.feed_add_question_prompt{
  width: 602px;
  height: 80px;
  display: flex;
  flex-direction: column;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.model-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.model-close:hover,
.model-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
