.qs-wrapper{
  background: white;
  height: 100vh;
  width: 100vw;
}

.qs-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 845px;
  min-width: 375px;
  border-top: 0;
}

* {
    box-sizing: border-box;
}

.qs-content-sidebar {
  width: 25%;
  float: left;
  padding: 20px;
}

.qs-content-main {
  width: 25%;
  float: left;
  padding: 20px;
}

.qs-content::after {
    content: "";
    clear: both;
    display: table;
}

[class*="qs-content-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .qs-content-sidebar {width: 25%;}
    .qs-content-main {width: 75%;}
}

.qs-q-text{
  color:rgb(38, 38, 38);
  display:inline;
  font-family:q_serif, Georgia, Times, "Times New Roman", "Hiragino Kaku Gothic Pro", Meiryo, serif;
  font-size:23px;
  font-weight:bold;
  height:auto;
  line-height:29.9px;
  tab-size:4;
  text-size-adjust:100%;
  width:auto;
  word-wrap:break-word;
}

.qs-answer-button{
  background-color: #f1f8fb;
  display: flex;
  align-items: center;
  color: #2b6dad;
  border: 1px solid #bbcadc;
}

.qs-answer-editor{
  margin-bottom: 10px;
}

.answer-label{
  font-size: 13px;
  font-weight: 500;
}


.qs-button-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.qs-edit{
  padding-left: 5px;
}

.qs-delete{
  padding-left: 5px;
  color: #b92b27;
}

.qs-answer-number{
  color: #333;
  font-weight: 500;
  position: relative;
  padding-bottom: 8px;
  font-size: 18px;
  padding-top: 10px
}

.qs-ask{
  color: grey;
  font-weight: 300;
}
