.title{
  font-weight: 900;
  padding-bottom: 12px;
  border-bottom: 1px solid #e2e2e2;
}

h3{
  color: #333;
  font-weight: 500;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 16px;
  padding-bottom: 8px;
  font-size: 15px;
  letter-spacing: 0;
  text-transform: none;
}

.sidebar-item{
  display: block;
  margin-top: 13px;
  text-decoration: none;
  color: none;
}

.sidebar-item:hover{
  color: #424242;
  background: #BDBDBD;
  text-decoration: none;
  padding: 3px;
}

.sidebar:hover{

}
