// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import "variables";
html {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;

}

body{
  background: #fafafa;
  color: #333;
  height: 100%;
  word-wrap: break-word;
  font-size: 13px;
  overflow-y: auto;
  overflow-x: auto;
}

input {
  display: block;
  min-height: 27px;
  display: block;
  background-color: #f6f6f6;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 27px;
  background: #fff;
  outline: 0;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
  font-size: 13px;
}

textarea{
  resize: none;
}

.content-wrapper{
  width: 100%;
  height: 100%;
}

.login-form-container {
  background: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 5px #888;
  border-radius: 4px;
  padding-top: 25px;
  width: 650px;
  position: absolute;
  bottom: initial;
  left: 0;
  right: 0;
  margin: auto;
  overflow-y: hidden;
  top: 10%;
  height: auto;
}

.login-form{
  display: flex;
}

.login-form-inputs{
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 130px;
  height: 145px;
  justify-content: space-between;
  width: 100%;

}

.content-inner{
  padding: 32px;
}

.form-container{
  position: relative;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
}

.signup-form-container{
  position: relative;
  display: flex;
  flex-direction: column;
}


.HomepageSignupNetworkRedirectLink {
    display: block;
    text-align: center;
    border-top: 1px solid #e2e2e2;
    padding: 8px 32px;
}

.logo{
  font-family: 'Libre Baskerville', serif;
  font-size: 51px;
  font-weight: 1200;
  text-align: center;
  color: #b62128;
  /* width: 224px; */
  /* background-size: 224px 63px; */
  height: 82px;
}


.greeting{
  display: flex;
  align-content: space-evenly;
  justify-content: space-evenly;
}

.signup-login {
    position: relative;
    display: flex;

}

.signup{
  display: block;
  width: 50%;
  margin-right: 25px;
}

.signup-explanation{
  word-wrap: break-word;
  color: #333;
  font-size: 13px;
}

.login{
  position: relative;
  padding-left: 32px;
  border-left: 0.5px solid #999;
  box-sizing: border-box;
  width: 50%
}


.session-submit-button{
  box-sizing: border-box;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  background: #3e78ad;
  color: #fff;
  border: 1px solid #3a66ad;
  box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.6);
  font-size: 12px;
  line-height: 1.4;
}

.login-signup-button{
  margin-left: 13px;
}


.footer-nav{
  padding: 16px;
  border-top: 1px solid #e2e2e2;
  background: #f7f7f7;
}

.nav-list{
  text-align: center;
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.inspired{
  display: block;
  text-align: center;
  border-top: 1px solid #e2e2e2;
  padding: 8px 32px;
}

.bg_container{
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #fff;
  overflow: hidden;
}

.bg_image{
  position: absolute;
  background: image-url('session_form_background.png') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.error-style{
  padding: 10px;
  border: 1px solid #b62128;;
  color: #b62128;
}

.tagline{
  font-size: 19px;
  font-weight: 400;
  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
  margin: 8px 0 32px;
  color: #999;
  text-align: center;
}


.session-form-container {
  background: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 5px #888;
  border-radius: 4px;
  padding-top: 25px;
  width: 650px;
  position: absolute;
  bottom: initial;
  left: 0;
  right: 0;
  margin: auto;
  overflow-y: hidden;
  top: 10%;
}

.session-first-last-name{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.hidden-signup{
  display: none;
}

.session-form{
  color: #666;

}

.session-form-actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}


.session-input{
  background-color: #EEE;
  width: 100%;
  margin-top: 10px;
}

.session-email-password{
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

.session-title{
  font-weight: bold;
}

.signup-name-half{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 11px;
  font-weight: 600;
}
